@model MvcTicariOtomasyon.Models.Classes.Category
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form class="form-group" method="post">
    <p>Kategori Adı</p>
    @Html.TextBoxFor(x => x.CategoryName, new {@class = "form-control"})
    <br />
    <button class="btn btn-success" style="margin-left: 5px;">Ekle</button>
</form>

