@using MvcTicariOtomasyon.Models.Classes
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top: 20px; margin-left: 10px; margin-right: 20px">

    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var K in Model)
    {

        <tr>
            <td>
                @K.CategoryId
            </td>
            <td>
                @K.CategoryName
            </td>
            <td><a href="~/Category/CategoryDelete/@K.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="~/Category/GetCategory/@K.CategoryId" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }



</table>
<a href="~/Category/CategoryAdd" class="btn btn-success" style="margin-left: 10px">Kategori Ekle</a>

